:root {
    --background: #1C1C1C;
    --background-light: #ECFDF5;
    --container-color: #1F2937;
    --green-span: #4ADF86;
    --green-button: #10B981;
    --green-password: #55F991;
    --medium-grey: #D5D4D8;
    --input-background: #273549;
    --placeholder: #202B3C;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;

    font-family: 'Inter', sans-serif;

    color: #FFFFFF;
    background-color: var(--background);
}

main {

}

.container {
    width: 600px;
    margin: 10% auto;
    padding: 40px;
    
    background-color: var(--container-color);
}

.top-container {
    margin: 0 25px;
    border-bottom: 1px solid var(--input-background)
}

.top-container h2 {
    font-family: 'Karla';
    font-size: 40px;
}

.top-container h5 {

    color: var(--medium-grey);
}

button {
    width: 223px;
    height: 42px;
    margin: 15px 0 20px;

    color: #FFFFFF;
    background-color: var(--green-button);

    border: none;
    border-radius: 6px;
}

.icon {
    color: #FFFFFF;
}

.title {

}

.bottom-container {

    margin: 30px auto;
}

.input-div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    margin: 20px 0;
}

input {
    text-align: center;
    text-decoration: none;

    width: 210px;
    height: 40px;
    margin: 0;

    background-color: var(--input-background);
    border: none;
    border-radius: 6px;

    color: var(--placeholder);
}

.green {
    color: var(--green-span)
}